*.iml
.gradle
.idea
/.idea/kotlinc.xml
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/codestream.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/KtorExample.zip
